:root {
  --color-sass--primary: #061a40;
  --color-sass--secondary: #006daa;
  --color-sass--terciary: #e4f3ef;
  --color-sass--quaternary: #e0c890;
  --color-sass--background: #FAFAFA;
  --color-sass--general: #FAFAFA;
  --color-sass--specific: #161616; }

.dark-blue {
  --color-sass--primary: #062638;
  --color-sass--secondary: #6bb8cd;
  --color-sass--terciary: #133649;
  --color-sass--quaternary: #5a3764;
  --color-sass--background: #161616;
  --color-sass--general: #161616;
  --color-sass--specific: #FAFAFA; }

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  color: var(--color-sass--general);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

html {
  height: 100%;
  scroll-behavior: smooth; }

body, footer, header {
  transition: 700ms linear; }

@media screen and (max-width: 315px) {
  * {
    font-size: 0.7rem; } }
