:root {
  --color-sass--primary: #061a40;
  --color-sass--secondary: #006daa;
  --color-sass--terciary: #e4f3ef;
  --color-sass--quaternary: #e0c890;
  --color-sass--background: #FAFAFA;
  --color-sass--general: #FAFAFA;
  --color-sass--specific: #161616; }

body {
  background-color: var(--color-sass--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative; }

.hero-component {
  font-stretch: expanded;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px 30px 0;
  background-color: var(--color-sass--primary);
  text-shadow: 1cap; }

.main-content {
  min-height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

#about-us-zone {
  height: max-content; }

#about-us-zone p, .post-subinformation h4, .post-content-zone {
  color: var(--color-sass--specific); }

.post-subinformation, .post-content-zone {
  font-size: 1.3rem;
  padding: 3%; }

@media screen and (min-width: 768px) {
  .post-subinformation, .post-content-zone {
    padding: 20px; } }
