:root {
  --color-sass--primary: #339d05;
  --color-sass--secondary: #09d16d;
  --color-sass--terciary: #EDEAD0;
  --color-sass--quaternary: #c2b2d9;
  --color-sass--background: #d4ebef;
  --color-sass--general: #d4ebef;
  --color-sass--specific: #2a2e2a; }

body {
  background-color: var(--color-sass--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative; }

.hero-component {
  font-stretch: expanded;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px 30px 0;
  background-color: var(--color-sass--primary); }

.main-content {
  min-height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

#about-us-zone {
  height: max-content; }

#about-us-zone p {
  color: var(--color-sass--specific); }
