:root {
  --color-sass--primary: #061a40;
  --color-sass--secondary: #006daa;
  --color-sass--terciary: #e4f3ef;
  --color-sass--quaternary: #e0c890;
  --color-sass--background: #FAFAFA;
  --color-sass--general: #FAFAFA;
  --color-sass--specific: #161616; }

.dark-blue {
  --color-sass--primary: #062638;
  --color-sass--secondary: #6bb8cd;
  --color-sass--terciary: #133649;
  --color-sass--quaternary: #5a3764;
  --color-sass--background: #161616;
  --color-sass--general: #161616;
  --color-sass--specific: #FAFAFA; }

body {
  background-color: var(--color-sass--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative; }

.hero-component {
  font-stretch: expanded;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px 30px 0;
  background-size: 100%;
  text-shadow: var(--color-sass--general) 5px 0 20px;
  border-bottom: solid var(--color-sass--specific) 1.5px;
  border-top: solid var(--color-sass--specific) 1.5px; }
  .hero-component h1 {
    color: var(--color-sass--specific);
    text-align: center;
    font-size: 4rem;
    text-shadow: -3px 0 solid var(--color-sass--general), 0 3px var(--color-sass--general), 3px 0 var(--color-sass--general), 0 -3px var(--color-sass--general); }

#hero-index, #hero-about-us, #hero-category {
  background-image: url("../images/leaves.png");
  filter: hue-rotate(90deg); }

.main-content {
  margin-bottom: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .main-content h2 {
    color: var(--color-sass--specific); }
  .main-content h2:nth-child(2) {
    align-self: center;
    font-size: 2rem; }

#about-us-zone {
  display: flex;
  flex-direction: column;
  height: max-content;
  font-size: 1.3rem;
  padding: 3%;
  margin: 2%; }
  #about-us-zone div {
    padding: 1%; }
  #about-us-zone p {
    padding: 25px; }

#about-us-zone div:first-child {
  display: flex;
  background-color: var(--color-sass--quaternary);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%; }

#about-us-zone p, .post-subinformation h4, .post-content-zone {
  color: var(--color-sass--specific); }

#author-photo {
  object-fit: contain;
  width: 60%;
  height: auto;
  margin: 2%;
  border-radius: inherit; }

@media screen and (min-width: 768px) {
  .post-subinformation, .post-content-zone {
    padding: 20px; }
  .main-content {
    margin-bottom: 28%; } }

@media screen and (min-width: 1024px) {
  #about-us-zone div:first-child {
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  #author-photo {
    width: 30%;
    height: auto; } }
