:root {
  --color-sass--primary: #061a40;
  --color-sass--secondary: #006daa;
  --color-sass--terciary: #e4f3ef;
  --color-sass--quaternary: #e0c890;
  --color-sass--background: #FAFAFA;
  --color-sass--general: #FAFAFA;
  --color-sass--specific: #161616; }

footer {
  background-color: var(--color-sass--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
  height: 230px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer-content {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.links-to-socials-content {
  width: 50px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .links-to-socials-content .social-link {
    width: 30px; }
