:root {
  --color-sass--primary: #339d05;
  --color-sass--secondary: #09d16d;
  --color-sass--terciary: #EDEAD0;
  --color-sass--quaternary: #c2b2d9;
  --color-sass--background: #d4ebef;
  --color-sass--general: #d4ebef;
  --color-sass--specific: #2a2e2a; }

footer {
  background-color: var(--color-sass--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer-content {
  text-align: center; }
