:root {
  --color-sass--primary: #061a40;
  --color-sass--secondary: #006daa;
  --color-sass--terciary: #e4f3ef;
  --color-sass--quaternary: #e0c890;
  --color-sass--background: #FAFAFA;
  --color-sass--general: #FAFAFA;
  --color-sass--specific: #161616; }

header {
  background-color: var(--color-sass--secondary);
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute; }

object {
  display: block;
  width: 100%; }

.sticky {
  position: fixed;
  z-index: 10;
  box-shadow: 0px 3px 15px 0px var(--color-sass--secondary); }

#main-menu {
  visibility: hidden;
  height: 0; }

.nav-container {
  height: 100%; }

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color-sass--secondary);
  padding: 12px 20px; }

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  background-color: var(--color-sass--secondary);
  transition: width 2s, height 2s, transform 1.5s; }

.menu li {
  padding-left: 40px; }

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-sass-general);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 10px; }

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-sass--primary); }

.menu li a:hover:after {
  width: 100%;
  transition: width 0.5s; }

ul a.active {
  font-size: 1.75rem;
  text-shadow: 0 0 3px var(--color-sass--general); }

.open-menu, .close-menu {
  position: absolute;
  color: var(--color-sass--general);
  cursor: pointer;
  font-size: 2.5rem;
  display: block; }

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

.close-menu {
  top: 13px;
  right: 20px;
  color: var(--color-sass--specific); }

#check {
  display: none; }

#check:checked ~ .menu {
  right: 0;
  width: 100%; }

@media screen and (min-width: 768px) {
  .nav-container {
    visibility: hidden; }
  #main-menu {
    visibility: visible;
    height: 100%; }
  .links {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
  .links li {
    font-size: 1.5rem;
    margin: 0 25px 0 25px;
    background-color: rgba(var(--color-sass--primary), 1);
    border-radius: 10%;
    padding: 10px; } }
