:root {
  --color-sass--primary: #061a40;
  --color-sass--secondary: #006daa;
  --color-sass--terciary: #e4f3ef;
  --color-sass--quaternary: #e0c890;
  --color-sass--background: #FAFAFA;
  --color-sass--general: #FAFAFA;
  --color-sass--specific: #161616; }

.dark-blue {
  --color-sass--primary: #062638;
  --color-sass--secondary: #6bb8cd;
  --color-sass--terciary: #133649;
  --color-sass--quaternary: #5a3764;
  --color-sass--background: #161616;
  --color-sass--general: #161616;
  --color-sass--specific: #FAFAFA; }

.all-posts-section h2, .top-posts-section h2 {
  margin-top: 15px;
  margin-left: 10px; }

.post-content {
  margin-bottom: 260px; }

.post-container {
  background-color: var(--color-sass--terciary);
  margin: 15px 2px 15px 2px;
  padding: 10px 0px 10px 0px;
  display: grid;
  gap: 3rem;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); }

.post {
  display: flex;
  flex-direction: column;
  background-color: var(--color-sass--secondary);
  margin: 10px 30px 10px 30px;
  padding: 1%;
  max-width: 400px;
  width: 80%;
  border-radius: 15px;
  transition-duration: 1s; }

.post:hover {
  transform: scale(1.1);
  transition-duration: 1s; }

.post-image {
  opacity: 90%;
  align-self: center;
  border-radius: inherit;
  max-width: 100%;
  margin-bottom: 1%; }

.post-title-zone {
  display: flex;
  flex-direction: column;
  background-color: var(--color-sass--quaternary);
  padding: 1% 4% 1% 4%; }
  .post-title-zone h4 {
    color: var(--color-sass--specific); }
  .post-title-zone a {
    font-size: 1.5rem;
    margin: 1%;
    color: var(--color-sass--specific); }

.post-tile-zone-subinformation {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-sass--specific); }

.post-desc-zone {
  padding: 5%; }

.post-subinformation {
  background-color: var(--color-sass--quaternary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.post-subinformation, .post-content-zone {
  font-size: 1.3rem;
  padding: 1.5%; }

.rating-distribution {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center; }

.author-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.rating {
  padding: 3%;
  width: 18%;
  height: auto; }

.rating:hover {
  transform: scale(1.2);
  filter: brightness(1.5); }

.rating:hover ~ .rating {
  filter: brightness(1.5); }

@media screen and (min-width: 768px) {
  .post {
    margin: 1%; }
  .post-subinformation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-sass--quaternary); }
  .rating-distribution {
    width: 30%; }
  .rating {
    padding: 3%;
    width: 17%;
    height: auto; } }
