:root {
  --color-sass--primary: #061a40;
  --color-sass--secondary: #006daa;
  --color-sass--terciary: #e4f3ef;
  --color-sass--quaternary: #e0c890;
  --color-sass--background: #FAFAFA;
  --color-sass--general: #FAFAFA;
  --color-sass--specific: #161616; }

.dark-blue {
  --color-sass--primary: #2a5e30;
  --color-sass--secondary: #528145;
  --color-sass--terciary: #B1DC88;
  --color-sass--quaternary: #ffcf56;
  --color-sass--background: #E8E8E8; }
