:root {
  --color-sass--primary: #061a40;
  --color-sass--secondary: #006daa;
  --color-sass--terciary: #e4f3ef;
  --color-sass--quaternary: #e0c890;
  --color-sass--background: #FAFAFA;
  --color-sass--general: #FAFAFA;
  --color-sass--specific: #161616; }
