@import './themes.scss';
@import './variables/colors.scss';

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    color: var(--color-sass--general);
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    transition: 2000ms linear;
}

footer {
    transition: 1500ms linear;
}

header { 
    transition: 1500ms linear;
}

