@import './themes.scss';
@import './variables/breakpoints.scss';

body {
    background-color: var(--color-sass--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
}

.hero-component {
    font-stretch: expanded;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 30px 0;
    background-size: 100%;
    text-shadow: #000 5px 0 20px;
    border-bottom: solid black 1.5px;
    border-top: solid black 1.5px;


    h1 {
        font-size: 5rem;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    }
}

#hero-index, #hero-about-us, #hero-category {
    background-image: url("../images/leaves.png");
    filter: hue-rotate(90deg);
}

.main-content {
    margin-bottom: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
        color: var(--color-sass--specific);
    }

    h2:nth-child(2) {
        align-self: center;
        font-size: 2rem;
    }

}

#about-us-zone { 
    display: flex;
    flex-direction: column;
    height: max-content;
    font-size: 1.3rem;
    padding: 3%;
    margin: 2%;

    div {
        padding: 1%;
    }

    p {
        padding: 25px;
    }
}

#about-us-zone div:first-child {
    display: flex;
    background-color: var(--color-sass--quaternary);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

#about-us-zone p, .post-subinformation h4, .post-content-zone {
    color: var(--color-sass--specific);
}

#author-photo {
    object-fit: contain;
    width: 60%;
    height: auto;
    margin: 2%;
    border-radius: inherit;
}


@media screen and (min-width: $medium--tablet) {

    .post-subinformation, .post-content-zone {
        padding: 20px;
    }

    .main-content {
        margin-bottom: 28%;
    }
}

@media screen and (min-width: $medium--desktop) {

    #about-us-zone div:first-child {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #author-photo {
        width: 30%;
        height: auto;
    }
}
