@import './themes.scss';

footer {
    background-color: var(--color-sass--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    height: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
}