@import './themes.scss';

footer {
    background-color: var(--color-sass--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    height: 230px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.links-to-socials-content {
    width: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .social-link {
        width: 30px;
    }
}