@import './themes.scss';
@import './variables/breakpoints.scss';

footer {
    background-color: var(--color-sass--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    height: 230px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-y: hidden;

}

.links-to-socials-content {
    width: 50px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .social-link {
        width: 35px;
        margin: 3%;
    }

    .social-link:hover {
        transform: scale(1.5);
    }
}

@media screen and (min-width: $medium--desktop) {

    .links-to-socials-content {
        width: 240px;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        .social-link {
            width: 80px;
        }

        #facebook {
            width: 200px;
        }
    }

}

