@import './variables/colors.scss';

:root {
    --color-sass--primary : #{$main-color};
    --color-sass--secondary : #{$secondary-color};
    --color-sass--terciary : #{$terciary-color};
    --color-sass--quaternary : #{$quaternary-color};
    
    --color-sass--background : #{$main-background};

    --color-sass--general : #{$soft-white};
    --color-sass--specific : #{$soft-black};
}

.dark-blue {
    --color-sass--primary : #{$main-color-dark-cold-theme};
    --color-sass--secondary : #{$secondary-color-dark-cold-theme};
    --color-sass--terciary : #{$terciary-color-dark-cold-theme};
    --color-sass--quaternary : #{$quaternary-color-dark-cold-theme};

    --color-sass--background : #{$main-background-dark-theme};
}