$soft-white: #FAFAFA;
$soft-black: #161616;

$main-color: #061a40;
$secondary-color: #006daa;
$terciary-color: #e4f3ef;
$quaternary-color: #e0c890;

$main-background: $soft-white;

$header-color:$main-color;
$footer-color:$secondary-color;


$main-color-dark-cold-theme: #062638;
$secondary-color-dark-cold-theme: #6bb8cd;
$terciary-color-dark-cold-theme: #133649;
$quaternary-color-dark-cold-theme: #5a3764;

$main-background-dark-theme: $soft-black;
