$soft-white: #FAFAFA;
$soft-black: #161616;

$main-color: #394743;
$secondary-color: #3E5B45;
$terciary-color: #EDEAD0;
$quaternary-color: #ffcf56;

$main-background: $soft-white;

$header-color:$main-color;
$footer-color:$secondary-color;

// darkmode
// $main-color-dark-cold-theme: #2a5e30;
// $secondary-color-dar-cold-theme: #528145;
// $terciary-color-dark-cold-theme: #B1DC88;
// $quaternary-color-dark-cold-theme: #ffcf56;

// $main-background-dark-old-theme: #E8E8E8;
