$soft-white: #FAFAFA;
$soft-black: #161616;

$main-color: #061a40;
$secondary-color: #006daa;
$terciary-color: #e4f3ef;
$quaternary-color: #e0c890;

$main-background: $soft-white;

$header-color:$main-color;
$footer-color:$secondary-color;


$main-color-dark-cold-theme: #2a5e30;
$secondary-color-dark-cold-theme: #528145;
$terciary-color-dark-cold-theme: #B1DC88;
$quaternary-color-dark-cold-theme: #ffcf56;

$main-background-dark-theme: #E8E8E8;
