@import '../themes.scss';
@import '../variables/breakpoints.scss';

#login-content {
    height: 300px;
    width: 250px;
    color: var(--color-sass--specific);
    border: 3px solid var(--color-sass--secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-self: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 4%;

        .user-authentification-container, .login-register-button-container{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: inherit;

            label b, input {
                margin: 3%;
                color: var(--color-sass--specific);
            }

        }

        button {
            margin: 1%;
            height: 25px;
            border-radius: 5px;
            background-color: var(--color-sass--primary);
        }

    }
}

#full-screen-container {
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background-color: var(--color-sass--primary);
    opacity: 0.5;
}
.modal {
    visibility: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: auto;
    background-color: var(--color-sass--background);
    box-shadow: 0px 0px 800px var(--color-sass--primary);
}

.options-header-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 7px;

    button {
        height: 40%;
        width: auto;
        padding: 5px;
        border-radius: 5px;
        color: var(--color-sass--specific);
        background-color: var(--color-sass--general);
    }
}